<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">navigation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section>
  
  
      <ion-item>
        <P>
          The Action Sheet is a dialog that displays a set of options. 
          It appears on top of the app’s content, and must be manually dismissed by the user 
          before they can resume interaction with the app. 
          There are multiple ways to dismiss the action sheet, including tapping the backdrop or 
          hitting the escape key.
          <br><br>
          The Action Sheet is a dialog that displays a set of options. 
          It appears on top of the app’s content, and must be manually dismissed by the user 
          before they can resume interaction with the app. 
          There are multiple ways to dismiss the action sheet, including tapping the backdrop or 
          hitting the escape key.
          <br><br>
          The Action Sheet is a dialog that displays a set of options. 
          It appears on top of the app’s content, and must be manually dismissed by the user 
          before they can resume interaction with the app. 
          There are multiple ways to dismiss the action sheet, including tapping the backdrop or 
          <br><br>
          The Action Sheet is a dialog that displays a set of options. 
          It appears on top of the app’s content, and must be manually dismissed by the user 
          before they can resume interaction with the app. 
          <br><br>
          There are multiple ways to dismiss the action sheet, including tapping the backdrop or 
          hitting the escape key.
        </P>
      </ion-item>
  
      <ion-list>
          <ion-item>
          <a href="https://ionicframework.com/docs/angular/navigation">
              Angular Navigation
          </a>
        </ion-item>
        <ion-item>
          <a href="https://ionicframework.com/docs/react/navigation"> 
              React Navigation
          </a>
        </ion-item>
        <ion-item>
          <a href="https://ionicframework.com/docs/vue/navigation"> 
              Vue Navigation
          </a>
        </ion-item>
    </ion-list>

  </section>
  
  </ion-content>
