<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">loading page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
  
  
      <ion-item>
        <P>
          The Loading overlay can be used to indicate activity while blocking user interaction. It appears on top of the app's content, and can be dismissed by the app to resume user interaction with the app.
        </P>
      </ion-item>
  
      <ion-list>
          <ion-item>
          <a href="https://ionicframework.com/docs/api/loading">
              Loading API docs
          </a>
        </ion-item>
        <ion-item>
          <a href="https://ionicframework.com/docs/components"> 
              UI Component docs
          </a>
        </ion-item>
    </ion-list>
  
  
  
  
  
  <ion-padding >
  <ion-button expand="block" (click)="presentLoading()"style="padding: 0px 20px; height: 50px; font-size: 18px;" >OPEN LOADING</ion-button>
  </ion-padding>
  
  </section>
  
  </ion-content>
