<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">chip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<section>
<ion-list-header>
  Basic
</ion-list-header>
  <ion-chip>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="person-circle"></ion-icon>
    <ion-label>Avatar Chip</ion-label>
  </ion-chip>


  <ion-list-header>
    Colors
  </ion-list-header>


  <ion-chip color="primary">
    <ion-label color="primary">Primary</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label color="secondary">Secondary</ion-label>
  </ion-chip>
  <ion-chip color="tertiary">
    <ion-label color="tertiary">Tertiary</ion-label>
  </ion-chip>
  <ion-chip color="success">
    <ion-label color="success">Success</ion-label>
  </ion-chip>
  <ion-chip color="warning">
    <ion-label color="warning">Warning</ion-label>
  </ion-chip>
  <ion-chip color="danger">
    <ion-label color="danger">Danger</ion-label>
  </ion-chip>



  <ion-list-header>
    Outlines
  </ion-list-header>
  <ion-chip outline="true" color="primary">
    <ion-label color="primary">Primary</ion-label>
  </ion-chip>
  <ion-chip outline="true" color="secondary">
    <ion-label color="secondary">Secondary</ion-label>
  </ion-chip>
  <ion-chip outline="true" color="tertiary">
    <ion-label color="tertiary">Tertiary</ion-label>
  </ion-chip>
  <ion-chip outline="true" color="success">
    <ion-label color="success">Success</ion-label>
  </ion-chip>
  <ion-chip outline="true" color="warning">
    <ion-label color="warning">Warning</ion-label>
  </ion-chip>
  <ion-chip outline="true" color="danger">
    <ion-label color="danger">Danger</ion-label>
  </ion-chip>

  <ion-list-header>
    Icons
  </ion-list-header>

  <ion-chip>
    <ion-icon color="primary" name="pin" ></ion-icon>
    <ion-label color="primary">Madison</ion-label>
    <ion-icon color="primary" name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip>
    <ion-icon color="secondary" name="wine"></ion-icon>
    <ion-label color="secondary">Nightlife</ion-label>
    <ion-icon color="secondary" name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip>
    <ion-icon color="tertiary" name="restaurant" ></ion-icon>
    <ion-label color="tertiary">Dining</ion-label>
    <ion-icon color="tertiary" name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip>
    <ion-icon color="dark" name="videocam"></ion-icon>
    <ion-label color="dark">Entertainment</ion-label>
    <ion-icon color="dark" name="close-circle"></ion-icon>
  </ion-chip>

  


  
</section>  
</ion-content>
