
<ion-content>
<ion-list-header>Ionic</ion-list-header>

<ion-button expand="full" class="ion-activatable ripple-parent">
  Learn Ionic
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
<ion-button expand="block" class="ion-activatable ripple-parent">
  Documentation
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
<ion-button expand="block" class="ion-activatable ripple-parent">
  Showcase
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
<ion-button expand="block" class="ion-activatable ripple-parent">
  GitHub Repo
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>


</ion-content>
