<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    List Notes
  </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label>
      Default
      </ion-label>
      <ion-note slot="end">
        11
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Primary
      </ion-label>
      <ion-note color="primary" slot="end">
        22
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Secondary
      </ion-label>
      <ion-note color="secondary" slot="end">
        33
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Tertiary 
      </ion-label>
      <ion-note color="tertiary" slot="end">
        44
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Success
      </ion-label>
      <ion-note color="success" slot="end">
        55
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Warning
      </ion-label>
      <ion-note color="warning" slot="end">
        66
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Danger
      </ion-label>
      <ion-note color="danger" slot="end">
        77
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
      Dark
      </ion-label>
      <ion-note slot="end">
        88
      </ion-note>
    </ion-item>

  </ion-list>

</ion-content>
