<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>BlueBerry</ion-label>
      <ion-toggle checked="true" slot="end" color="primary"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Apple</ion-label>
      <ion-toggle checked="true" slot="end" color="secondary"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Grape</ion-label>
      <ion-toggle checked="true" slot="end" color="tertiary"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Kiwi</ion-label>
      <ion-toggle checked="true" slot="end" color="success"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Orange</ion-label>
      <ion-toggle checked="true" slot="end" color="warning"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Cherry</ion-label>
      <ion-toggle checked="true" slot="end" color="danger"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Banana</ion-label>
      <ion-toggle checked="true" slot="end" color="light"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Cantaloupe</ion-label>
      <ion-toggle checked="true" slot="end" color="medium"> </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Blackberry</ion-label>
      <ion-toggle checked="true" slot="end" color="dark"> </ion-toggle>
    </ion-item>
    




  </ion-list>

</ion-content>
