<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">thumbnail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    Default
  </ion-list-header>
  <ion-thumbnail>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Leia</h2>
        <h3>You're My Only Hope</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Yoda</h2>
        <h3>Size matters not</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3><p>some text line over here some text line over heresome text line over heresome text line over heresome text line over here</p></ion-label>
    </ion-item>

  </ion-list>




</ion-content>
