p {
  font-size: 26px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

section {
  padding: 0px 10px;
}

ion-padding {
  margin: 20px 0px;
}

ion-button {
  margin: 25px 0;
}
