<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
     

    <ion-title style="text-transform: capitalize;">search bar</ion-title>
    
  </ion-toolbar>
  <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
  </ion-header>


<ion-content>
<ion-list>
  <ion-item>
    Amsterdam
  </ion-item>
  <ion-item>
    Bogota
  </ion-item>
  <ion-item>
    Buenos Aires
  </ion-item>
  <ion-item>
    Cairo
  </ion-item>
  <ion-item>
    Dhaka
    
  </ion-item>
  <ion-item>
    Edinburgh
    
  </ion-item>
  <ion-item>
    Geneva
    
  </ion-item>
  <ion-item>
    Genoa
    
  </ion-item>
  <ion-item>
    Glasglow
   
  </ion-item>
  <ion-item>
    Hanoi
    
  </ion-item>
  <ion-item>
    Hong Kong
    
  </ion-item>
  <ion-item>
    Islamabad
    
  </ion-item>
  <ion-item>
    Istanbul
    
  </ion-item>
  <ion-item>
    Jakarta
    
  </ion-item>
  <ion-item>
    Kiel
    
  </ion-item>
  <ion-item>
    Kyoto
    
  </ion-item>
  <ion-item>
    Le Havre
    
  </ion-item>
  <ion-item>
    Lhasa
    
  </ion-item>
  <ion-item>
    Lima
    
  </ion-item>
  <ion-item>
    London
    
  </ion-item>
  <ion-item>
    Los Angeles
    
  </ion-item>
  <ion-item>
    Madrid
    
  </ion-item>
  <ion-item>
    Manila
    
  </ion-item>
  <ion-item>
    New York
    
  </ion-item>
  <ion-item>
    Olympia

  </ion-item>
</ion-list>
</ion-content>
