<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<section>
<ion-list-header>Small Size</ion-list-header>
<ion-button size="small" color="primary">default</ion-button>
<ion-button size="small" color="secondary">Secondary</ion-button>
<ion-button size="small" color="tertiary">Tertiary</ion-button>
</section>
<section>
<ion-list-header>Default Size</ion-list-header>
<ion-button size="default" color="success">default</ion-button>
<ion-button size="default" color="warning">Secondary</ion-button>
<ion-button size="default" color="danger">Tertiary</ion-button>
</section>
<section>
<ion-list-header>Large Size</ion-list-header>
<ion-button size="large" color="light">light</ion-button>
<ion-button size="large" color="medium">medium</ion-button>
<ion-button size="large" color="dark">dark</ion-button>
</section>
<section>
<ion-list-header>Block Width</ion-list-header>
<ion-button expand="block">A Block Button</ion-button>
</section>
<section>
<ion-list-header>Full Width</ion-list-header>
<ion-button color="secondary" expand="full">A Full-Witdh Button</ion-button>
</section>
</ion-content>
