<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
<ion-list-header>Default</ion-list-header>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  
  <ion-list-header>Chip Avatar</ion-list-header>
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-list-header>Items Avatar</ion-list-header>  
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Lorem ipsum</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h3>Lorem ipsum</h3><p>some text line over here</p></ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h3>Lorem ipsum</h3><p>some text line over here</p><p>there are also some over here there are also some over here there are also some over here there are also some over here</p></ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Lorem ipsum</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h3>Lorem ipsum</h3><p>some text line over here</p></ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h3>Lorem ipsum</h3><p>some text line over here</p><p>there are also some over here there are also some over here there are also some over here there are also some over here</p></ion-label>
  </ion-item>
</section>  
</ion-content>
