<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">item group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label><b>Abigail</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jesse <b>Adams</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Alan</b></ion-label>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>James <b>Bach</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Flora <b>Ball</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>London <b>Black</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alisha <b>Brady</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Brianna</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Monica <b>Brown</b></ion-label>
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider>
    <ion-label>C</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label><b>Carla</b></ion-label>
    </ion-item>

  </ion-item-group>

</ion-content>
